name: Enable SecurityHub Standards

on:
  push:
    branches: [ main ]  # Puedes cambiar a otra rama si lo prefieres

jobs:
  enable-securityhub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # cámbiiar por la región de AWS

      - name: Install dependencies and run script
        run: |
          pip install boto3
          python enable_securityhub.py

